<div class="jumbotron text-center">
    <div align="center"><b><u>Student Information</u></b></div>
    <div ng-controller="StudentController" align="center">
        <table border="1">
            <tr>

                  <th>Name</th>
                  <th>Gender</th>
                  <th>English</th>
                  <th>Maths</th>
                  <th>Combined Marks in English and Maths</th>
            </tr>
            <tr ng-repeat="student in students">
                  <td><span>{{student.name}}</span></td>
                  <td><span>{{student.gender}}</span></td>
                  <td><span>{{student.english}}</span></td>
                  <td><span>{{student.maths}}</span></td>
                  <td><span>{{ (student.english)--(student.maths) }}</span></td>
            </tr>
        </table>
    </div>
</div>