<html>
<title>Determing how to get the most favorites on Twitter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>

<H1 align="center">How to Maximize your tweet potential</H1>
<h3 align="center">When and What to tweet about</h3>
<p align="center">An analysis by Patrick Beekman</p>

<!-- Page content -->
<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">

    <h4><u>Intro</u></h4>
    <p>
        Twitter can be a wild and confusing place with a plethora of information readily available.
        Unfortunately twitter is constantly being flooded with noise, often times it is difficult for your
        tweets to stand out and gain traction. That is the inspiration for this analysis, I have studied
        the best times to tweet, best emotions and keywords that should be used to give your tweets the most
        traction. Something to note is that all this analysis has been done with my ~200 followers and 2,000
        tweets for each of those users. Not all followers have 2,000 tweets so after all data collection and
        cleaning I collected about 250,000 tweets. This analysis is specific to my followers and how I can
        gear my tweets towards my followers to get the largest exposure. With this project anyone can download
        the <a href="https://github.com/patrickbeekman/SeniorCapstone" target="_blank">project from github</a> and do this analysis on their own followers. My analysis can still be generalized
        to see a general trend in tweets that anyone can follow to give their tweets exposure.
    </p>

    <h4><u>Analysis</u></h4>
    <!-- Plots -->
    <p>
        When to tweet is an important part of getting people to see your tweets. I created a bargraph
        of the amount of tweets during each day of the week (shown below) to see if there was an ideal
        day to tweet when there is more activity happening. Looking at the graph we can see that throughout
        the week it seems to be about the same amount of activity but it drops off during the weekend. There
        are about 4000-5000 less tweets on the weekends compared to weekdays this is about a 16% decrease
        in twitter activity on the weekends. So if you are looking to get more eyes on your tweets you may
        want to consider tweeting on a weekday.
    </p>
    <img src="img/days_of_week.png" alt="daysOfWeek" width="603" height="346" class="w3-image" align="center">
    <p>
        Just knowing what day of the week to possibly tweet on is not enough to get your tweet seen.
        A more important indicator of tweet exposure is the amount of favorites and retweets you get
        on your tweets. The more retweets the further exposure you have with your tweets, the more favorites
        the more people enjoy your tweets and are likely to retweet or share with friends. The plot below
        looks at the number of favorites and retweets grouped by hour for any particular day.

        CREATE PLOT: unNormalized favs/RTS by hour broken up by day of week
    </p>
    <div align="center">
        {{ unNormalized_FavsRTs_script|safe }}
        {{ unNormalized_FavsRTs_div|safe }}
    </div>
    <p>As you can see by the plot above.</p>
    <div align="center">
        {{ normalized_FavsRTs_script|safe }}
        {{ normalized_FavsRTs_div|safe }}
    </div>
    <p>As you can see by the plot above.</p>
    <div align="center">
        {{ norm_FavsRTs_emotion_script|safe }}
        {{ norm_FavsRTs_emotion_div|safe }}
    </div>
    <p>As you can see by the plot above.</p>
    <div align="center">
        {{ tweets_hourly_script|safe }}
        {{ tweets_hourly_div|safe }}
    </div>
    <p>As you can see by the plot above.</p>
    <div align="center">
        {{ hourly_emotion_script|safe }}
        {{ hourly_emotion_div|safe }}
    </div>
    <p>As you can see by the plot above.</p>
    <div align="center">
        {{ emotions_word_ct_script|safe }}
        {{ emotions_word_ct_div|safe }}
    </div>
        <div align="center">
        {{ tweet_freq_script|safe }}
        {{ tweet_freq_div|safe }}
    </div>

    <h4><u>Conclusion</u></h4>
    <p>conclusion stuff</p>

  <!-- Contact -->
  <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
    <h3 class="w3-center">Contact</h3>
    <hr>
      <p>Patrick Beekman ~ Appalachian State University</p>
      <p>Senior Computer Science</p>

  </div>

<!-- End page content -->
</div>

</html>

